/* estilos.css */


body {
    overflow: scroll;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    margin-bottom: 1em;
}

p {
    font-style: italic;
    margin-bottom: 2em;
}

.placar h3 {
    background-color: rgb(238, 238, 238);
}

section {
    padding-bottom: 10em;
}

.icones {
    vertical-align: middle;
}