/* estilos.css */


/* textarea */
.campo-digitacao {
    font-size: 1.5rem;
    height: 10ch;
}

/* Frase modelo */
.frase {
    font-size: 1.5rem;
}

/* textarea desativado (fim do tempo). */
.campo-desativado {
    background-color: rgb(221, 221, 221);
}